<?xml version="1.0"?>
<model>
  <name>stone_3</name>
  <version>1.0</version>
  <sdf version='1.6'>stone_1.sdf</sdf> <!-- This is decides where the model is that is loaded -->

  <author>
   <name>Lars Schmidt</name>
   <email>hildestr@hotmail.de</email>
  </author>

  <description>
    A stone (type 1)
  </description>
</model>